main {
	  font-family: Arial, sans-serif;
	  font-size: 13.5px;
	  }
.material-icons-outlined {
position: absolute;
top: 19px;
right: 118px;
}
.material-icons-outlined:hover {
background-color: hsla(209, 100%, 50%, 0.13);
}

.signin {
position: absolute;
right: 18px;
top: 15px;
background-color: dodgerblue;
color: white;
width: 55px;
padding-bottom: 8px;
padding-left: 10px;
padding-right: 3.5px;
padding-top: 7px;
border-radius: 2px;
margin-right: 9px;
}
#searchbar { 
position: absolute;
    width: 48%;
	height: 10%;
    min-width: 150px;
right: 317px;
top: 274px;
}
.foogle {
position: absolute;
bottom: 78px;
left: 153px;
width: 270px;
height: 105px;
}

#searchbarr {
border: 1px solid  grey;
border-radius: 29px;
height: 46px;
width: 584px;
outline: 0;
padding: 3px 23px 6px 42px;
}
#searchicon {
position: absolute;
top: 9px;
left: 113px;
cursor: pointer;
}
#searchbarr:hover {
box-shadow: 1px 2px 7px grey;
}
#searchicon {
position: absolute;
top: 11px;
left: 13px;
cursor: pointer;
}
#button-bgg {
displayy: flex;
justify-content: space-around;
font-family: sans-serif;
position: absolute;
list-style-type: none;
  margin: 0;
  padding: 0;
right: 0px;
top: 43px;
max-width: 257px;

}
#button-bg {
display: flex;
justify-content: space-around;
height: 52px;
position: absolute;
left: 133px;
top: 68px;
width: 309px;
}

#btton {
background-color: D8E4F0;
border: 1px;
width: 180px;
border-radius: 3px;
margin: 8px;
padding: 4px 6px 5px 6px;
cursor: pointer;
opacity: 0.9;
}
#btton:hover {
box-shadow: 1px 2px 7px grey;
border: 3px;
opacity: 1;
}
#links {
display: flex;
justify-content: space-between;
text-decoration: none;
position: absolute;
top: 19px;
margin-left: 5px;
right: 158px;
color: black;
}
#linkss {
margin: 5px;
}
#footy {
display: flex;
color: black;
position: fixed;
font-family: sans-serif;
bottom: 0;
left: 0;
width: 100%;
height: 41px;
background-color: D8E4F0;
}
.About {
position: absolute;
top: 25px;
left: 25px;
width: 20px;
}
.Store {
width: 25px;
position: absolute;
top: 25px;
left: 85px;
}
.Aboutt {
position: relative;
top: 14px;
right: -33px;
height: 6px;
}
.Business {
position: relative;
right: -60px;
top: 14px;
height: 6px;
}
.HowS {
position: relative;
right: -92px;
top: 14px;
height: 6px;
}
.Privacy {
position: relative;
right: -866px;
top: 14px;
height: 6px;
}
.Terms {
position: relative;
right: -893px;
top: 14px;
height: 6px;
}

.Settings {
position: relative;
right: -1050px;
top: 14px;
height: 6px;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
	}
.counter { 
	opacity: 1%;
	}
	 @media (min-width: 1900px) {
	 .foogle {
	 top: -113px;
	 }
	 }
